body {
    background: linear-gradient(30deg, rgb(77,77,77), rgb(58, 58, 58));
    color: rgb(68,68,68);
}

#page-logo a {
    color: rgb(183, 230, 235);
}

header a  {
    color: rgb(183, 230, 235);
}

header nav a:hover {
    color: rgb(59, 59,59);
    background-color: rgb(183, 230, 235);;
}



header {
    /* overriding the position absolute in shared css */
    position: static;
}

main ul {
    width: 90%;
    margin: 0 auto 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;

}

main li {
    margin: 10px;
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    border-radius: 6px;
    /* controls how the exceeding size of the object to behave */
    overflow: hidden;
}

main li:nth-child(3) {
    grid-column: 1 / 3;
}

main li img {
    object-fit: cover;
    max-width: 50%;
    max-height: 100%;
}

.item-content {
    text-align: left;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content h2 {
    margin: 0;
}

.actions {
    text-align: right;
    padding: 0;
}

.actions a {
    color: lightskyblue;
    padding: 5px;
    text-decoration: none;
}

.actions a:hover {
    color: white;
    background-color: lightblue;
    border-radius: 6px;
}